<ol class="breadcrumb admin_nav_bread">
    <li><a href="{:U('Index/index')}">后台首页</a></li>
    <li><a href="{$bread.controller_url}">{$bread.controller_name}</a></li>
    <if condition="$bread.action_name neq ''"><li class="active">{$bread.action_name}</li></if>
    <li class="pull-right"><a href="{:U('/')}">前台首页</a></li>
    <li class="pull-right"><a href="{:U('Clear/cache')}" class="ajax_get">清除缓存</a></li>
    <span>
    <li class="pull-right">当前语言：
        <if condition="$now_lanuage eq 'zh_'">
        <a href="javascript:void(0);" class="for_language" onclick="check_langlage('english')">中文</a>
            <else/>
            <a href="javascript:void(0);" class="for_language" onclick="check_langlage('中文')">english</a>
        </if>
    </li>
    </span>
</ol>