<extend name="Public:layer_base"/>
<block name="body">
    <form role="form" method="post" action="{:U('Public/change_password')}" class="create_page valid_form">
        <div class="form-group">
            <label>原密码</label>
            <input type="password" name="old_password" class="form-control" autocomplete="off" placeholder="请输入原密码">
        </div>
        <div class="form-group">
            <label>密码</label>
            <input type="password" name="password" class="form-control" autocomplete="off" placeholder="请输入密码">
        </div>
        <div class="form-group">
            <label>确认密码</label>
            <input type="password" name="passwords" class="form-control" autocomplete="off" placeholder="请输入确认密码">
        </div>
        <div class="form-group">
            <label></label>
            <input type="hidden" name="id" value="{$admin_id}">
            <button type="submit" class="btn btn-primary btn-block">保存</button>
        </div>
    </form>
</block>