<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <include file="Public:meta"/>
    <include file="Public:top_css"/>
    <include file="Public:top_js"/>
</head>
<body style="background: lightskyblue;">
<div style="width: 300px;margin: auto;margin-top: 10%;">
    <form class="form-horizontal valid_form" role="form" action="{:U('Public/login')}" method="post">
        <div class="form-group">
            <div style="text-align: center;margin: auto;font-size: 16px;">国家一级博物馆运行评估管理系统</div>
        </div>
        <div class="form-group">
            <input type="text" name="nickname" class="form-control"placeholder="请输入用户名" autocomplete="off">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control"placeholder="请输入密码">
        </div>
        <div class="form-group">
            <input type="text" name="verify" class="form-control" id="verify" placeholder="请输入验证码" autocomplete="off">
        </div>
        <div class="form-group">
            <img src="{:U('Public/verify')}" onclick='this.src=this.src+"?";' style="cursor:pointer;border: 1px solid #dcdcdc;border-radius: 5px;"/>
            <button type="button" class="btn btn-default" style="width: 212px;height: 37px;" id="verify_img" onclick="var verify = $(this).closest('.form-group').find('img').attr('src');$(this).closest('.form-group').find('img').attr('src',verify+'?');">换一张</button>
        </div>
        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-default btn-block">登录</button>
        </div>
    </form>
</div>
<include file="Public:bottom_js"/>
</body>
</html>