<extend name="Public:layer_base"/>
<block name="body">
    <form role="form" method="post" action="{:U('Config/create')}" class="create_page valid_form">
        <div class="form-group">
            <label>设置分组</label>
            <select name="group_id" class="form-control">
                <volist name="config_type_list" id="vo">
                    <option value="{$vo.id}" <if condition="$vo['id'] eq $group_id">selected = "selected"</if>>{$vo.name}</option>
                </volist>
            </select>
        </div>
        <div class="form-group">
            <label>设置名称</label>
            <input type="text" name="name" class="form-control" autocomplete="off" placeholder="请输入设置名称">
        </div>
        <div class="form-group">
            <label>变量名称</label>
            <input type="text" name="varname" class="form-control" autocomplete="off" placeholder="请输入变量名称">
        </div>
        <div class="form-group">
            <label>单位/数量</label>
            <input type="text" name="unit" class="form-control" autocomplete="off" placeholder="请输入单位/数量">
        </div>
        <label>设置类型</label>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="radio" name="type" value="string" checked>单行文本
            </label>
            <label class="checkbox-inline">
                <input type="radio" name="type" value="bstring">多行文本
            </label>
            <label class="checkbox-inline">
                <input type="radio" name="type" value="image">图片上传
            </label>
            <label class="checkbox-inline">
                <input type="radio" name="type" value="bool">枚举
            </label>
        </div>
        <div class="form-group">
            <label></label>
            <button type="submit" class="btn btn-primary btn-block">保存</button>
        </div>
    </form>
</block>